In [4]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\tareq\appdata\local\programs\python\python311\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\tareq\appdata\local\programs\python\python311\lib\site-packages (from mysql) (2.2.7)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import mysql.connector
import matplotlib.pyplot as plt
import numpy as np

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="tareq123@",
    database="wh_project"
)

cursor = conn.cursor()

# Get all table names in the current database
cursor.execute("SHOW TABLES")
tables = [table[0] for table in cursor.fetchall()]

# For each table, get the row count
row_counts = []
for table in tables:
    cursor.execute(f"SELECT COUNT(*) FROM `{table}`")
    count = cursor.fetchone()[0]
    row_counts.append(count)

cursor.close()
conn.close()

# Plotting
x = np.arange(len(tables))
plt.figure(figsize=(12, 6))
plt.bar(x, row_counts, color='skyblue')
plt.xlabel('Table Name')
plt.ylabel('Row Count')
plt.title('Row Count per Table in Database')
plt.xticks(x, tables, rotation=45, ha='right')
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'mysql'